/* ---- Шрифты ---- */
@font-face {
    font-family: "TT Lakes";
    src: url(fonts/TTLakes/TTLakes-Regular.woff) format('woff'),
        url(fonts/TTLakes/TTLakes-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "TT Lakes";
    src: url(fonts/TTLakes/TTLakes-Medium.woff) format('woff'),
        url(fonts/TTLakes/TTLakes-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: "TT Lakes";
    src: url(fonts/TTLakes/TTLakes-Bold.woff) format('woff'),
        url(fonts/TTLakes/TTLakes-Bold.ttf) format('truetype');
    font-weight: 700;
}

/* ---- осн ---- */
body {
    width: auto;
    font-family: "TT Lakes";
    background-color: #FFFFFF;
    margin: 0;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ---- Окна и свайперы ---- */
.brands-title {
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    color: #7E7E7E;
    padding-left: 24px;
    height: 56px;
    display: flex;
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
}

.brands-button {
    background-color: #FFFFFF !important;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    height: 72px;
    width: 240px;
    background: url(icons/Go.svg) no-repeat 90% 50%;
    transition: transform 0.2s ease-out,
                box-shadow 0.2s ease-out,
                background-position 0.1s ease-in-out;
    display: flex;
    align-items: center;
}

.brands {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 16px;
    padding: 10px 0;
    margin: 0 auto;
    max-height: 164px;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
}

.mySwiper {
    max-height: 164px;
    transition: max-height 0.25s ease-in-out;
}


.brands-button:hover {
    transform: scale(0.95);
    box-shadow: 0px 0px 12px 0px rgba(34, 60, 80, 0.15);
}

.brands-button:active {
    border: 1px solid #FF3E79;
    background-position: 95% 50%;
}

.brands-button__img {
    padding-left: 16px;
    user-select: none;
    pointer-events: none;
}

.mySwiper {
    padding: 10px;
    padding-bottom: 25px;
    background-color: #F8F8F8;
    /* display: none; */
}

.swiper-wrapper {
    max-width: 1120px;
    margin: 0 auto;
}

.mySwiper::after {
    content: '';
    position: absolute !important;
    z-index: 2;
    height: 73px;
    width: 30px;
    background-image: linear-gradient(to right, transparent 0%, #F8F8F8 100%);
    top: 10px;
    right: 0;
}

.swiper-pagination {
    display: none;
    transform: translateY(10px);
}

.swiper-pagination-bullet {
    opacity: 1;
    background-color: #DDDDDD;
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
    transform: scale(1.3);
}


/* --- кнопка свернуть\показать --- */
.brands__expand-button {
    height: 24px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid transparent;
    margin-top: 16px;
    margin-left: 24px;
    transition: transform 0.2s, border 0.2s;
    display: flex;
    align-items: center;

}

.button-wrapper {
    /* background-color: red; */
    max-width: 1120px;
    margin: 0 auto;
}

.expand-icon {
    margin-right: 10px;
    height: 14px;
    transition: transform 0.3s linear;
}

.expand-button__text {
    font-family: 'TT Lakes';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.4px;
}

.brands__expand-button:hover {
    cursor: pointer;
}

.brands__expand-button:active {
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-weight: 900;
    transform: scale(0.95);
}

/* ---- Адаптив ---- */
/* Мобилки */
@media (max-width: 768px) {
    .mySwiper, .swiper-pagination {
        display: block;
    }

    .brands, .brands__expand-button {
        display: none;
    } 
}

/* Планшеты */
@media (min-width: 768px) and (max-width: 1120px) {
    .brands {
        grid-template-columns: repeat(3, 1fr)
    }
}

/* Десктоп */
@media (min-width: 1120px) {
    .brands {
        grid-template-columns: repeat(4, 1fr)
    }
}